{{ define "main" }}

{{ $map_tiles_url := index .Site.Data.map.map_styles .Site.Data.globals.map }}

<section class="section">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-7 rounded-xs mobile-height mb-5 mb-lg-0" id="map_canvas" data-latitude="{{.Site.Params.map.map_latitude }}" data-longitude="{{.Site.Params.map.map_longitude}}" data-tiles-url="{{$map_tiles_url}}"></div>
      <div class="col-lg-4">
        <div class="p-5 rounded-xs shadow" data-aos="fade-up" data-aos-delay="100">
          <h3 class="text-dark border-bottom mb-5 pb-4">Contacts</h3>
          <ul class="list-unstyled">
          {{ with .Site.Data.globals.contact }}

              {{ with .email }}
              <li class="d-flex mb-4">
                <i class="fa fa-envelope-o icon-primary"></i>
                <div class="pl-3">
                  <h6 class="text-dark">Email</h6>
                  <p>{{ . | markdownify }}</p>
                </div>
              </li>
              {{ end }}

              {{ with .address }}
              <li class="d-flex mb-4">
                <i class="fa fa-map-o icon-primary"></i>
                <div class="pl-3">
                  <h6 class="text-dark">adresse</h6>
                  <p>{{ . | markdownify }}</p>
                </div>
              </li>
              {{end }}

              {{ with .tel }}
              <li class="d-flex mb-4">
                <i class="fa fa-map-o icon-primary"></i>
                <div class="pl-3">
                  <h6 class="text-dark">téléphone</h6>
                  <p>{{ . | markdownify }}</p>
                </div>
              </li>
              {{end }}

            {{end }}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}