{{ $data := index .Site.Data .Site.Language.Lang }}

<footer class="pt-5">
  <!-- logo -->
  <div class="position-relative">
    <a href="{{ .Site.BaseURL | relLangURL }}" >
      <img src="/images/uploads/logo.png" id="logo" class="position-absolute mb-4 img-fluid" alt="{{ .Site.Title }}">
    </a>
  </div>
  <div style="margin: 0 7em 0 7em;">
    <div class="row justify-content-between">
      <div class="col-md-3 mb-4 mb-md-0">
        <h4>Contact</h4>
        <ul class="list-unstyled mb-5">
          {{ with .Site.Data.globals.contact }}
            <li class="mb-1 text-light">{{.address | safeHTML }}</li>
            <li class="mb-1 text-light">{{.tel | safeHTML }}</li>
            <li class="mb-1 text-light">{{.email | safeHTML }}</li>
          {{ end }}
        </ul>
        <!-- social icons -->
        <ul class="list-inline social-icons">
          {{ range .Site.Params.social }}
            <li class="list-inline-item"><a href="{{ .link | safeURL }}"><i class="fa {{ .icon }}"></i></a></li>
          {{ end }}
        </ul>
      </div>
      <div class="col-lg-6 col-md-3">
        <h4 class="text-white">Liens</h4>
        <ul class="list-styled list-hover-underline">
          {{ range .Site.Menus.footer }}
          <li class="mb-2 text-light"><a href="{{ .URL | relLangURL }}" class="text-light">{{ .Name }}</a></li>
          {{ end }}
        </ul>
      </div>
      <div class="col-lg-3 col-md-5">
        <p class="text-light mt-5 mb-4">{{ $data.footer.content | markdownify }}</p>
      </div>
    </div>
  </div>

  {{"  <!-- copyright part start -->" | safeHTML }}
  <section class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <p class="mb-0 text-light">{{ .Site.Params.copyright | markdownify }}</p>
        </div>
      </div>
    </div>
  </section>
  {{"  <!-- copyright part end -->" | safeHTML }}
</footer>


{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range .Site.Params.plugins.js}}
<script src="{{ .link | absURL }}"></script>
{{ end }}

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>


{{ "<!-- google analitycs -->" | safeHTML }}
{{ with .Site.Params.google_analitycs_id}}
<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', '{{ . }}', 'auto');
  ga('send', 'pageview');
</script>
{{ end }}