{{ $data := index .Site.Data .Site.Language.Lang }}


{{"<!-- navigation -->" | safeHTML }}

{{ $page_url := index (split .URL "/") 1 }}

<div class="navigation fixed-top nav-bg">
  <!-- Logo for desktop view -->
  <a class="logo" href="{{ .Site.BaseURL | relLangURL }}">
    <img src="{{ .Site.Data.globals.header_logo | absURL }}" alt="{{ .Site.Title }}">
  </a>

  <nav class="navbar navbar-expand-md navbar-dark p-0">
    <!-- Logo for mobile view -->
    <a class="logo-mobile" href="{{ .Site.BaseURL | relLangURL }}" style="position: relative;">
      <img src="{{ .Site.Data.globals.header_logo | absURL }}" alt="{{ .Site.Title }}">
      <div class="black-line"></div>
    </a>

    <!-- mobile nav button -->
    <button class="navbar-toggler mr-3" type="button" data-toggle="collapse" data-target="#navigation"
      aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-center my-3 my-md-0" id="navigation">
      <ul class="navbar-nav ml-md-auto mr-md-5 mx-lg-auto">
        <!-- Acceuil -->
        <li class="nav-item">
          <a class="nav-link text-uppercase" href="{{ .Site.BaseURL | relLangURL }}">{{ .Site.Params.Home }}</a>
        </li>
        <!-- Autres pages -->
        {{ range .Site.Menus.main }}
        {{ $current := eq .URL $page_url }}
        {{ $selected := cond $current "font-weight-bold" "" }}
        {{ if .HasChildren }}
        <li class="nav-item dropdown">
          <a class="nav-link text-uppercase dropdown-toggle" href="#" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{ .Name }}
          </a>
          <div class="dropdown-menu">
            {{ range .Children }}
            <a class="dropdown-item text-color" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
            {{ end }}
          </div>
        </li>
        {{ else }}
        <li class="nav-item">
          <a class="nav-link text-uppercase {{ $selected }}" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
        </li>
        {{ end }}
        {{ end }}
      </ul>

      <!-- Language List -->
      {{ if .IsTranslated }}
      <select class="m-2 border-0" id="select-language" onchange="location = this.value;">
        {{ $siteLanguages := .Site.Languages}}
        {{ $pageLang := .Page.Lang}}
        {{ range .Page.AllTranslations }}
        {{ $translation := .}}
        {{ range $siteLanguages }}
        {{ if eq $translation.Lang .Lang }}
        {{ $selected := false }}
        {{ if eq $pageLang .Lang}}
        <option id="{{ $translation.Language }}" value="{{ $translation.Permalink }}" selected>{{ .LanguageName }}
        </option>
        {{ else }}
        <option id="{{ $translation.Language }}" value="{{ $translation.Permalink }}">{{ .LanguageName }}</option>
        {{ end }}
        {{ end }}
        {{ end }}
        {{ end }}
      </select>
      {{ end }}

      {{ if .Site.Params.navigation_button.enable }}
      {{ "<!-- get start btn -->" | safeHTML }}
      <a href="{{ .Site.Params.navigation_button.link | absURL }}"
        class="btn btn-outline-primary ml-3">{{ .Site.Params.navigation_button.label }}</a>
      {{ end }}
    </div>
  </nav>
</div>
{{"<!-- nav part end -->" | safeHTML }}