{{ "<!-- page-header -->" | safeHTML }}
<section class="page-title page-title-overlay bg-cover">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <h1 class="text-white position-relative">{{ .Title }}<span class="watermark-sm">{{ .Params.Watermark }}</span></h1>
        <p class="text-white pt-4 pb-4">{{ .Params.Description | markdownify }}</p>
      </div>
      <div class="col-lg-3 ml-auto align-self-end">
        <nav class="position-relative zindex-1" aria-label="breadcrumb">
          <ol class="breadcrumb justify-content-end bg-transparent">
            <li class="breadcrumb-item"><a href="{{ .Site.BaseURL | relLangURL }}" class="text-white">{{ with .Site.Params.Home }} {{ . }} {{ end }}</a></li>
            <li class="breadcrumb-item text-white" aria-current="page">{{ .Title }}</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>
{{ "<!-- /page-header -->" | safeHTML }}