{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}
{{ $pages := .Pages }}

<!-- arbre -->
{{"<!-- banner -->"| safeHTML}}
{{ with $data.homepage.banner }}
<section class="hero-area">
  <div>
    <!-- Non-mobile view -->
    <div class="d-none d-md-flex align-items-center" style="overflow: hidden; height: 520px; position: relative;">
      <div class="d-flex" style="position: absolute; top: 0; bottom: 0; left: 0; right: 0;">
        <div class="h-100"
          style="width: 837px; background-image: url(/images/arbre-centered.png); background-repeat: no-repeat;">
        </div>
        <div class="h-100"
          style="flex: 1; background-image: url(/images/arbre-racines.png); background-repeat-x: repeat;">
        </div>
      </div>
      <h1 class="text-right my-auto text-uppercase" style="font-weight: 800; margin-left: 50%;" data-aos="fade-up"
        data-aos-delay="1500">
        <div class="d-inline-block francilin-orange" style="background-color: #fff;">Coorganisons</div><br>
        <div class="d-inline-block text-white" style="background-color: #000;">l’inclusion</div><br>
        <div class="d-inline-block text-white" style="background-color: #000;">numérique</div><br>
        <div class="d-inline-block francilin-orange" style="background-color: #fff;">en Île-de-France</div><br>
      </h1>
    </div>
    <!-- Mobile view -->
    <div class="d-flex d-md-none" style="height: 500px; position:relative; overflow-x: hidden;">
      <img src="/images/arbre-centered.png"
        style="position: absolute; top: 0; width: 100%; height: 100%; object-fit: cover;" alt="illustration"
        data-aos="fade">
      <h1 class="mx-auto my-auto text-center text-uppercase" style="font-weight: 800; margin-top: 120px!important;"
        data-aos="fade-up" data-aos-delay="300">
        <div class="d-inline-block francilin-orange" style="background-color: #fff;">Coorganisons</div><br>
        <div class="d-inline-block text-white" style="background-color: #000;">l’inclusion</div><br>
        <div class="d-inline-block text-white" style="background-color: #000;">numérique</div><br>
        <div class="d-inline-block francilin-orange" style="background-color: #fff;">en Île-de-France</div><br>
      </h1>
    </div>
  </div>
</section>
{{ end }}
{{"<!-- /banner -->"| safeHTML}}

{{"<!-- partners logos -->"| safeHTML}}
{{ with $data.homepage.partners_logos }}
<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <ul class="list-inline d-flex justify-content-between py-3 py-5 border-bottom align-items-center">
          {{ range .partner_logo }}
          <li class="list-inline-item"><img class="img-fluid p-2" src="{{ .image | absURL }}" alt="partner"></li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{"<!-- /partners logos -->"| safeHTML}}

{{"<!-- missions -->"| safeHTML}}
{{ with $data.homepage.feature }}
<section class="section pb-0">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <p class="subtitle" data-aos="fade-up">{{ .subtitle }}</p>
        <h2 class="section-title" data-aos="fade-up" data-aos-delay="100">{{ .title }}</h2>
      </div>
      {{/* Iterate through content/services/*.md */}}
      {{ $index := 0 }}
      {{ range where $pages "Section" "services" }}
      {{ if .Params.featured }}
      {{ $index := add $index 1 }}
      {{ $delay := mul $index 200 }}
      <div class="col-4 col-sm-6 mb-4 mx-auto" style="min-width: 350px" data-aos="fade-up" data-aos-delay="{{ $delay }}">
        <a href="{{ .Permalink }}">
          <div class="hover-bg-primary text-center position-relative px-4 py-5 rounded shadow h-100">
            <img src="{{ .Params.image | absURL }}" class="img-fluid" alt="feature-image">
            <h5 class="pt-5 pb-3 card-title">{{ .Params.title }}</h5>
            <p class="mb-4">{{ .Params.description | markdownify }}</p>
          </div>
        </a>
      </div>
      {{ end }}
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{"<!-- missions -->"| safeHTML}}


{{"<!-- partners - 2d presentation -->"| safeHTML}}
{{ with $data.homepage.partners }}
<section class="section bg-shape-triangles">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <p class="subtitle" data-aos="fade-up">{{ .subtitle }}</p>
        <h2 class="section-title" data-aos="fade-up" data-aos-delay="100">{{ .title }}</h2>
      </div>
    </div>
    <div class="row testimonial-slider" data-aos="fade-up" data-aos-delay="200">
      {{ range .partners_items }}
      <div class="col-4">
        <div class="card px-4 py-5 border-0 rounded shadow text-center card-border-bottom mb-5 mt-3">
          <i class="fa fa-quote-right icon-quote mb-4 mx-auto text-primary"></i>
          <p class="mb-4">{{ .content | markdownify }}</p>
          <h4>{{ .name }}</h4>
          <span class="h6">{{ .designation }}</span>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{"<!-- partners - 2d presentation -->"| safeHTML}}

{{"<!-- calendrier -->"| safeHTML}}
{{ with $data.homepage.calendar }}
<section class="section pb-0">
  <div class="container">
    <div class="row">
      <div class="col text-md-center">
        <h2 class="section-title" data-aos="fade-up" data-aos-delay="200">{{ .title }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col col-md-10">
        {{/*  <img src="{{ .image | absURL}}" class="img-fluid" alt="about-image" data-aos="fade-up"> */}}
        <iframe style="width:100%;" frameborder="0" scrolling="no" allowtransparency="allowtransparency"
          class="cibulFrame cbpgbdy" data-oabdy src="//openagenda.com/agendas/1909439/embeds/41469428/events?lang=fr"
          data-lang="fr"></iframe>
        <script type="text/javascript" src="//openagenda.com/js/embed/cibulBodyWidget.js"></script>
      </div>
    </div>
</section>
{{ end }}
{{"<!-- calendrier -->"| safeHTML}}

{{ end }}