// banner css start
.hero-area {
  // margin-top: 375px;
  padding: 200px 0 20px;
  background-color: $francilin-blue;
  // padding: 4em ;

  // @include mobile-xs {
  //   padding: 190px 0 100px;
  // }

  p {
    opacity: 0.70;
  }

  h1 {
    // line-height: 80px;
    // z-index: 1;

    font-size: 30pt;

    @include tablet {
      font-size: 20pt;
      font-size: 8vw;
    }

    // @include mobile-xs {
    //   font-size: 50px;
    // }
  }

  img.arbre {
    // @include desktop-lg {
    //   height: 350px;
    // }

    pointer-events: none;
    height: 100%;
    object-fit: cover;
  }

}