.navigation {
  // padding: 45px 0;

  @include desktop {
    // background: $bg-gradient-secondary;
    background: white;
    padding: 15px 0;
  }

  &.nav-bg {
    @include tablet {
      height: 0;
    }

    background: white;
    height: 150px;
    padding: 0;
  }

  .logo {
    @include desktop-lg {
      margin-left: 4em;
    }

    @include desktop {
      margin-left: 2em;
      display: block;
    }

    @include tablet {
      margin-left: 0;
      display: none;
    }

    position: absolute;
    top: -30px;
    z-index: 1;
    display: block;
    padding: 0;
    background-repeat: no-repeat;
    margin-left: 8em;
  }

  .logo-mobile {
    @include tablet {
      display: block;
      position: relative;
      max-width: calc(100% - 100px); // leave room for navbar-toggler
    }

    display: none;
    max-height: 120px;

    img {
      max-height: 150px;
      max-width: 100%;
      object-fit: scale-down;
    }

    .black-line {
      height: 24px;
      background-color: black;
      position: absolute;
      width: 100vw;
      z-index: -1;
      bottom: -24px;
      pointer-events: none;
    }
  }

  &.naviagtion-white {
    &.nav-bg {
      background: $white;
      box-shadow: 0px 10px 20px 0px rgba(0, 141, 236, 0.1);

      .btn {
        color: $primary-color !important;

        &:hover {
          color: $white !important;
        }
      }
    }

    @include desktop {
      background: $white;

      .btn {
        color: $primary-color !important;

        &:hover {
          color: $white !important;
        }
      }
    }

    .dropdown {
      &-menu {
        background: $white;
      }

      &-item {
        color: $text-dark;
      }
    }
  }
}

.navbar {
  @include tablet {
    top: 0;
    background-color: white;
  }

  top: 140px;
  background-color: $francilin-blue;

  .navbar-toggler {
    color: black;
    border-color: black;
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }

  .navbar-collapse {
    // Avoid navbar links to be overridden by logo, and become un-clickable.

    // 8em is the left margin of the logo.
    // 150px is the point in the image where the right of the lowest circle crosses the navigation menu.
    margin-left: calc(8em + 150px);
    white-space: nowrap;
    z-index: 1;

    @include tablet {
      margin-left: 0;
    }
  }

  &.navbar-dark .navbar-nav .nav-link {
    @include tablet {
      color: black;
    }

    color: white;
  }

  .nav-item {

    .nav-link {
      font-size: 16px;
      font-weight: 500;
      padding: 0 22px;
      font-family: $primary-font;
      transition: all ease 0.3s;
      white-space: nowrap;

      @include desktop-lg {
        padding: 0 15px;
      }

      &.active {
        color: #F57415;
      }

      &:hover {
        color: #F57415;
      }
    }
  }

  .dropdown {
    &:hover {
      .dropdown-menu {
        visibility: visible;
        opacity: 1;
        transform: scaleX(1);
      }
    }

    &-menu {
      box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.12);
      padding: 15px;
      border: 0;
      top: 50px;
      left: -20px;
      border-radius: 0;
      display: block;
      visibility: hidden;
      transition: .3s ease;
      opacity: 0;
      transform: scale(.8);
      background: $bg-gradient-secondary;
      border-radius: 10px;

      @include desktop {
        display: none;
        opacity: 1;
        visibility: visible;
        transform: scale(1);
        transform-origin: unset;
      }

      &.show {
        visibility: hidden;

        @include desktop {
          visibility: visible;
          display: block;
        }
      }
    }

    &-item {
      position: relative;
      // color: $white;
      color: red;
      transition: .2s ease;
      font-family: $primary-font;

      @include desktop {
        text-align: center;
      }

      &:not(:last-child) {
        margin-bottom: 10px;
      }

      &:hover {
        color: $secondary-color !important;
        background: transparent;
      }
    }
  }
}

// nav css end