{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}

{{"<!-- governance -->"| safeHTML}}
{{ with $data.about.governance }}
<section class="bg-light section section-lg-bottom">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <p class="subtitle" data-aos="fade-up">{{ .subtitle }}</p>
        <h2 class="section-title" data-aos="fade-up" data-aos-delay="200">{{ .title }}</h2>
      </div>
      {{ range $index, $element:= .governance_items }}
      {{ $delay := mul $index 100}}
      <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0" data-aos="fade-up" data-aos-delay="{{$delay}}">
        <div class="text-center shadow card py-3 border-0 rounded-sm">
          <div class="card-body">
            <!-- <i class="fa {{ .icon }} icon-lg icon-bg-square mb-5 icon-{{.icon_color}}"></i> -->
            <img src="{{ .image | absURL }}" class="img-fluid w-100 rounded-sm" alt="{{.name}}"/>
            <h4 class="mb-3">{{ .title }}</h4>
            <p>{{ .content | markdownify }}</p>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{"<!-- /governance -->"| safeHTML}}

{{"<!-- governance schema -->"| safeHTML}}
{{ with $data.about.governance.governance_schema }}
<section class="section section-lg-bottom">
  <div class="container">
    <div class="col-lg-12 text-center">
      <h2 class="section-title" data-aos="fade-up" data-aos-delay="200">{{ .title }}</h2>
    </div>
    <img src="{{ .image | absURL }}" class="img-fluid" alt=""/>
  </div>
</section>
{{ end }}
{{"<!-- /governance schema -->"| safeHTML}}

{{"<!-- team -->" | safeHTML}}
{{ $socials := .Site.Data.social.socials }}
{{ with $data.about.team }}
<section class="section section-lg-bottom">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h4 class="subtitle" data-aos="fade-up">{{ .subtitle }}</h4>
        <h2 class="section-title" data-aos="fade-up" data-aos-delay="200">{{ .title }}</h2>
      </div>
      {{ range $index, $element:= .team_members }}
      {{ $delay := mul $index 200}}
      {{"<!-- team member -->" | safeHTML}}
      <div class="col-lg-4 col-sm-6 mb-100" data-aos="fade-up" data-aos-delay="{{$delay}}">
        <div class="team-member text-center">
          <img src="{{ .image | absURL }}" class="img-fluid w-100 rounded-sm" alt="{{.name}}">
          <div class="team-member-content p-4">
            <h5 class="team-member-name text-white">{{.name}}</h5>
            <p class="team-member-designation text-light">{{ .designation }}</p>
            <ul class="list-inline team-member-social">
              {{ range .social }}
              <li class="list-inline-item"><a href="{{.link | safeURL }}" class="p-2" target="_blank"><i class="fa {{ index $socials .social_type }} text-white"></i></a></li>
              {{ end }}
            </ul>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{"<!-- /team -->" | safeHTML}}

{{ end }}