{{ define "main" }}


<section class="section pb-0">
  <div class="container">
    <div class="row">
      {{ $index := 0 }}
      {{ range .Data.Pages }}
        {{ $index := add $index 1 }}
        {{ $delay := mul $index 200 }}
        <div class="col-4 col-sm-6 mb-4 mx-auto" style="min-width: 350px" data-aos="fade-up" data-aos-delay="{{ $delay }}">
          <a href="{{ .Permalink }}">
            <div class="hover-bg-primary text-center position-relative px-4 py-5 rounded shadow h-100">
              <img src="{{ .Params.image | absURL }}" class="img-fluid" alt="feature-image">
              <h5 class="pt-5 pb-3 card-title">{{ .Params.title }}</h5>
              <p class="mb-4">{{ .Params.description | markdownify }}</p>
            </div>
          </a>
        </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
