{{ define "main" }}

<section class="section section-lg-bottom">
  <div class="container">
    <div class="row">
      <div class="col rounded-sm pr-5">

        {{/* Big Image */}}
        <img src="{{ .Params.Image | absURL }}" class="rounded-sm img-fluid m-5" style="min-width: 60%;" alt="post-thumb"/>

        {{/* Service key points */}}
        <div class="container">
          <div class="row">
            <div class="col-12 text-center">
              <h2 class="section-title" data-aos="fade-up">Points clés</h2>
            </div>
          </div>
          <div class="row">
            {{ range $index, $element:= .Params.categories }}
              {{ $delay := mul $index 200}}
              <div class="col-md-6 mb-4" data-aos="fade-up" data-aos-delay="{{$delay}}">
                <div class="card border-0 shadow rounded-xs pt-5">
                  <div class="card-body">
                    <img src="{{ .image | absURL }}" class="rounded-sm img-fluid mb-1" alt="post-thumb"/>
                    <h4 class="mt-4 mb-3">{{ .title }}</h4>
                    <p>{{ .description | markdownify }}</p>
                  </div>
                </div>
              </div>
            {{ end }}
          </div>
        </div>

        {{/* Counters */}}
        {{ if .Params.numbers.enabled }}
          <section class="bg-light py-5">
            <div class="container">
              <div class="row">
                {{ range .Params.numbers.numbers_items }}
                  <div class="col-md-3 col-sm-6 mb-4 mb-md-0 text-center">
                    <p class="h2 font-weight-light text-dark"><span class="counter" data-count="{{ .count }}">0</span>+</p>
                    <h6 class="text-dark font-weight-normal">{{ .name }}</h6>
                  </div>
                {{ end }}
              </div>
            </div>
          </section>
        {{ end }}

      </div>
    </div>
  </div>

  <div class="container">
    <section>
      {{/* Content */}}
      <div class="content">
        {{ .Content }}
      </div>

      {{/* Share */}}
      <div class="my-5">
        <h5 class="d-inline-block mr-3">Share:</h5>
        <ul class="list-inline d-inline-block">
          {{ $url := printf "%s" .Permalink | absLangURL }}
          <li class="list-inline-item"><a href="https://facebook.com/sharer/sharer.php?u={{ $url }}" class="text-color lead"><i class="fa fa-facebook "></i></a></li>
          <li class="list-inline-item"><a href="https://twitter.com/intent/tweet/?text={{ .Title }}&amp;url={{ $url }}" class="text-color lead"><i class="fa fa-twitter "></i></a></li>
          <li class="list-inline-item"><a href="https://reddit.com/submit/?url={{ $url }}&amp;resubmit=true&amp;title={{ .Title }}" class="text-color lead"><i class="fa fa-reddit "></i></a></li>
          <li class="list-inline-item"><a href="whatsapp://send?text={{ .Title }}%20{{ $url }}" class="text-color lead"><i class="fa fa-whatsapp "></i></a></li>
          <li class="list-inline-item"><a href="https://telegram.me/share/url?text={{ .Title }}&amp;url={{ $url }}" class="text-color lead"><i class="fa fa-telegram "></i></a></li>
        </ul>
      </div>

      <!-- comments -->
      {{ template "_internal/disqus.html" . }}
      <!-- {{ partial "services_sidebar.html" . }} -->
    </section>
  </div>
</section>

{{ end }}